* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: Arial;
    color: white;

    background: url("images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}
body {
    overflow-x: hidden;
}

/* затемнение */
.overlay {
    width: 100%;
    height: 100vh;

    background: rgba(0,0,0,0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* форма */
.form {
    width: 90%;
    max-width: 350px;
}

/* текст */
h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 25px;
}

/* INPUT */
.input-box {
    border: 1px solid #ff3b3b;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    outline: none;
}

/* ошибки */
.error {
    color: #ff3b3b;
    font-size: 12px;
    margin-bottom: 10px;
}

/* кнопки */
.login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #ff3b3b, #b80000);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.register {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 8px;
    background: transparent;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

/* разделитель */
.divider {
    text-align: center;
    margin: 20px 0;
    color: #888;
}

/* условия */
.terms {
    font-size: 11px;
    color: #777;
    text-align: center;
    margin-top: 10px;
}
/* ========================= */
/* ПЕРСОНАЖИ */
/* ========================= */

/* затемнение */
..char-overlay {
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* контейнер */
.char-container {
    width: 100%;
    max-width: 500px; /* под телефон */
    padding: 15px;
}


/* карточка */
.card {
    display: flex;
    align-items: center;
    background: rgba(20,20,20,0.9);
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 12px;
}

/* картинка */
.card img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 15px;
}

/* текст */
.info h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.info p {
    font-size: 13px;
}

/* кнопка */
.btn {
    margin-top: 8px;
    padding: 10px;
    background: linear-gradient(90deg, #ff3b3b, #b80000);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}
.char-container h1 {
    text-align: center;
    margin-bottom: 20px;
}